In [1]:
import pandas as pd
import numpy as np
import sklearn

import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("amazon_movie_reviews.csv", low_memory=False)

In [5]:
df

,Unnamed: 0,rating,review_title,text,images_x,asin,parent_asin,user_id,timestamp,helpful_vote,...,features,description,price,images_y,videos,store,categories,details,bought_together,author
0,0,5.0,Five Stars,"Amazon, please buy the show! I'm hooked!",[],B013488XFS,B013488XFS,AGGZ357AO26RQZVRLGU4D4N52DZQ,1440385637000,0,...,"['IMDb 8.1', '2017', '10 episodes', 'X-Ray', '...",['A\xa0con man (Giovanni Ribisi) on the run fr...,NaN,[{'360w': 'https://images-na.ssl-images-amazon...,[],NaN,"['Suspense', 'Drama']","{'Content advisory': ['Nudity', 'violence', 's...",NaN,NaN
1,1,5.0,Five Stars,My Kiddos LOVE this show!!,[],B00CB6VTDS,B00CB6VTDS,AGKASBHYZPGTEPO6LWZPVJWB2BVA,1461100610000,0,...,"['2014', '13 episodes', 'X-Ray', 'ALL']",['Follow the adventures of Arty and his sideki...,NaN,[{'360w': 'https://images-na.ssl-images-amazon...,[],NaN,['Kids'],{'Audio languages': ['English Dialogue Boost: ...,NaN,NaN
2,2,3.0,Some decent moments...but...,Annabella Sciorra did her character justice wi...,[],B096Z8Z3R6,B096Z8Z3R6,AG2L7H23R5LLKDKLBEF2Q3L2MVDA,1646271834582,0,...,NaN,NaN,NaN,[{'360w': 'https://images-na.ssl-images-amazon...,[],NaN,NaN,"{'Content advisory': ['Violence', 'substance u...",NaN,NaN
3,3,4.0,"Decent Depiction of Lower-Functioning Autism, ...",...there should be more of a range of characte...,[],B09M14D9FZ,B09M14D9FZ,AG2L7H23R5LLKDKLBEF2Q3L2MVDA,1645937761864,1,...,NaN,NaN,NaN,[{'360w': 'https://images-na.ssl-images-amazon...,[],NaN,NaN,"{'Content advisory': ['Violence', 'alcohol use...",NaN,NaN
4,4,5.0,What Love Is...,"...isn't always how you expect it to be, but w...",[],B001H1SVZC,B001H1SVZC,AG2L7H23R5LLKDKLBEF2Q3L2MVDA,1590639227074,0,...,NaN,NaN,NaN,[{'360w': 'https://images-na.ssl-images-amazon...,[],NaN,NaN,"{'Subtitles': ['None available'], 'Directors':...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,999995,5.0,Five Stars,You can't go wrong with Martin.,[],B002OOCVTI,B002OOCVTI,AFBGAXYU6J6WJAFLPH2AUNXXEDJQ,1466467496000,0,...,[],['Martin: The Complete Fourth Season (RPKG/DVD...,12.11,[{'thumb': 'https://m.media-amazon.com/images/...,[],"Martin Lawrence (Actor, Producer), Thomas...","['Movies & TV', 'Featured Categories', 'DVD', ...","{'Genre': 'Comedy', 'Format': 'Color, Dolby, F...",NaN,NaN
999996,999996,5.0,Five Stars,You can't go wrong with Martin.,[],B002LCSGM4,B002LCSGM4,AFBGAXYU6J6WJAFLPH2AUNXXEDJQ,1466467492000,0,...,[],"[""Heeeey! Comic superstar Martin Lawrence (Bad...",17.49,[{'thumb': 'https://m.media-amazon.com/images/...,[],"Tisha Campbell (Actor), Tichina Arnold (...","['Movies & TV', 'Featured Categories', 'DVD', ...","{'Genre': 'Comedy', 'Format': 'Color, Dolby, N...",NaN,NaN
999997,999997,4.0,Predictable ending but good action,Good pace of action and good characters. Plot...,[],B01FYCAABW,B01FYCAABW,AEWYVCDW7ILZTKUJ32B5K6JHZYJA,1473554989000,1,...,NaN,NaN,NaN,[{'360w': 'https://m.media-amazon.com/images/G...,[],NaN,NaN,"{'Content advisory': ['Violence', 'substance u...",NaN,NaN
999998,999998,4.0,pretty decent ww2 flick,i watched th whole thing so that is one criter...,[],B01DEGNX28,B01DEGNX28,AEWYVCDW7ILZTKUJ32B5K6JHZYJA,1472880562000,1,...,NaN,NaN,NaN,[{'360w': 'https://images-na.ssl-images-amazon...,[],NaN,NaN,"{'Content advisory': ['Violence', 'foul langua...",NaN,NaN
999999,999999,1.0,weak. very weak,this starts out somewhat interesting but fades...,[],B00YBX664Q,B00YBX664Q,AEWYVCDW7ILZTKUJ32B5K6JHZYJA,1472880440000,6,...,NaN,NaN,NaN,[{'360w': 'https://images-na.ssl-images-amazon...,[],NaN,NaN,"{'Content advisory': ['Nudity', 'violence', 's...",NaN,NaN

In [6]:
df = df.dropna()
df = df.drop_duplicates()

In [7]:
df

Empty DataFrame
Columns: [Unnamed: 0, rating, review_title, text, images_x, asin, parent_asin, user_id, timestamp, helpful_vote, verified_purchase, main_category, movie_title, subtitle, average_rating, rating_number, features, description, price, images_y, videos, store, categories, details, bought_together, author]
Index: []

[0 rows x 26 columns]

That is unfortunate, every single row has at least one NaN...

In [8]:
df = pd.read_csv("amazon_movie_reviews.csv", low_memory=False)

# 1. Rating spread

In [10]:
distribution = df["rating"].value_counts()

In [11]:
distribution

5.0    630216
4.0    165907
3.0     88930
1.0     66765
2.0     48182
Name: rating, dtype: int64

# 2. Column information

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 26 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unnamed: 0         1000000 non-null  int64
 1   rating             1000000 non-null  float64
 2   review_title       999930 non-null   object
 3   text               999922 non-null   object
 4   images_x           1000000 non-null  object
 5   asin               1000000 non-null  object
 6   parent_asin        1000000 non-null  object
 7   user_id            1000000 non-null  object
 8   timestamp          1000000 non-null  int64
 9   helpful_vote       1000000 non-null  int64
 10  verified_purchase  1000000 non-null  bool
 11  main_category      990649 non-null   object
 12  movie_title        457708 non-null   object
 13  subtitle           20116 non-null    object
 14  average_rating     999990 non-null   float64
 15  rating_number      999990 non-null   float64
 16  features           457710 non-null   object
 17  description        457710 non-null   object
 18  price              388749 non-null   object
 19  images_y           1000000 non-null  object
 20  videos             1000000 non-null  object
 21  store              389852 non-null   object
 22  categories         457710 non-null   object
 23  details            1000000 non-null  object
 24  bought_together    0 non-null        float64
 25  author             118 non-null      object
dtypes: bool(1), float64(4), int64(3), object(18)
memory usage: 191.7+ MB

In [16]:
df["review_title"]

0                                                Five Stars
1                                                Five Stars
2                              Some decent moments...but...
3         Decent Depiction of Lower-Functioning Autism, ...
4                                           What Love Is...
                                ...
999995                                           Five Stars
999996                                           Five Stars
999997                   Predictable ending but good action
999998                              pretty decent ww2 flick
999999                                      weak. very weak
Name: review_title, Length: 1000000, dtype: object

In [17]:
df["text"]

0                  Amazon, please buy the show! I'm hooked!
1                                My Kiddos LOVE this show!!
2         Annabella Sciorra did her character justice wi...
3         ...there should be more of a range of characte...
4         ...isn't always how you expect it to be, but w...
                                ...
999995                      You can't go wrong with Martin.
999996                      You can't go wrong with Martin.
999997    Good pace of action and good characters.  Plot...
999998    i watched th whole thing so that is one criter...
999999    this starts out somewhat interesting but fades...
Name: text, Length: 1000000, dtype: object

In [18]:
df["images_x"]

0         []
1         []
2         []
3         []
4         []
          ..
999995    []
999996    []
999997    []
999998    []
999999    []
Name: images_x, Length: 1000000, dtype: object

due to the sheer amount of empty values, and the computational cost of adding this feature, to keep it light weight may be better to ignore this feature

In [28]:
empty_count = (df["images_x"] == "[]").sum()

In [29]:
empty_count

998003

Vast majority is empty images, I would consider this a useless feature that should be removed then

In [30]:
df["asin"]

0         B013488XFS
1         B00CB6VTDS
2         B096Z8Z3R6
3         B09M14D9FZ
4         B001H1SVZC
             ...
999995    B002OOCVTI
999996    B002LCSGM4
999997    B01FYCAABW
999998    B01DEGNX28
999999    B00YBX664Q
Name: asin, Length: 1000000, dtype: object

No good description of what this means, possibly useless

In [31]:
df["user_id"]

0         AGGZ357AO26RQZVRLGU4D4N52DZQ
1         AGKASBHYZPGTEPO6LWZPVJWB2BVA
2         AG2L7H23R5LLKDKLBEF2Q3L2MVDA
3         AG2L7H23R5LLKDKLBEF2Q3L2MVDA
4         AG2L7H23R5LLKDKLBEF2Q3L2MVDA
                      ...
999995    AFBGAXYU6J6WJAFLPH2AUNXXEDJQ
999996    AFBGAXYU6J6WJAFLPH2AUNXXEDJQ
999997    AEWYVCDW7ILZTKUJ32B5K6JHZYJA
999998    AEWYVCDW7ILZTKUJ32B5K6JHZYJA
999999    AEWYVCDW7ILZTKUJ32B5K6JHZYJA
Name: user_id, Length: 1000000, dtype: object

unique user IDs should have no value to train on if anything could be harmful

In [32]:
df["timestamp"]

0         1440385637000
1         1461100610000
2         1646271834582
3         1645937761864
4         1590639227074
              ...
999995    1466467496000
999996    1466467492000
999997    1473554989000
999998    1472880562000
999999    1472880440000
Name: timestamp, Length: 1000000, dtype: int64

In [33]:
df["helpful_vote"]

0         0
1         0
2         0
3         1
4         0
         ..
999995    0
999996    0
999997    1
999998    1
999999    6
Name: helpful_vote, Length: 1000000, dtype: int64

In [35]:
votes = df["helpful_vote"].value_counts()

In [36]:
votes

0      753063
1      122972
2       43601
3       21996
4       13144
        ...
597         1
640         1
453         1
420         1
540         1
Name: helpful_vote, Length: 410, dtype: int64

In [37]:
df["verified_purchase"]

0          True
1          True
2          True
3         False
4          True
          ...
999995     True
999996     True
999997     True
999998     True
999999     True
Name: verified_purchase, Length: 1000000, dtype: bool

In [38]:
df["main_category"]

0         Prime Video
1         Prime Video
2         Prime Video
3         Prime Video
4         Prime Video
             ...
999995    Movies & TV
999996    Movies & TV
999997    Prime Video
999998    Prime Video
999999    Prime Video
Name: main_category, Length: 1000000, dtype: object

In [39]:
df["movie_title"]

0              Sneaky Pete
1          Creative Galaxy
2                      NaN
3                      NaN
4                      NaN
                ...
999995    Martin: Season 4
999996    Martin: Season 3
999997                 NaN
999998                 NaN
999999                 NaN
Name: movie_title, Length: 1000000, dtype: object

In [44]:
count_nan = df["movie_title"].isna().sum().sum()

In [45]:
count_nan

542292

In [46]:
df["subtitle"]

0         Ads BadgeAds Badge
1                   Season 1
2                        NaN
3                        NaN
4                        NaN
                 ...
999995                   NaN
999996                   NaN
999997                   NaN
999998                   NaN
999999                   NaN
Name: subtitle, Length: 1000000, dtype: object

due to the sheer amount of empty values, and the computational cost of adding this feature, to keep it light weight may be better to ignore this feature

In [47]:
count_nan = df["movie_title"].isna().sum().sum()

In [48]:
count_nan

542292

In [49]:
df["average_rating"]

0         4.6
1         4.8
2         3.9
3         4.8
4         4.5
         ...
999995    4.8
999996    4.9
999997    4.2
999998    3.1
999999    4.5
Name: average_rating, Length: 1000000, dtype: float64

In [50]:
df["rating_number"]

0         56658.0
1          6403.0
2           182.0
3           533.0
4           389.0
           ...
999995      617.0
999996     1424.0
999997      424.0
999998      626.0
999999    30161.0
Name: rating_number, Length: 1000000, dtype: float64

In [51]:
df["features"]

0         ['IMDb 8.1', '2017', '10 episodes', 'X-Ray', '...
1                   ['2014', '13 episodes', 'X-Ray', 'ALL']
2                                                       NaN
3                                                       NaN
4                                                       NaN
                                ...
999995                                                   []
999996                                                   []
999997                                                  NaN
999998                                                  NaN
999999                                                  NaN
Name: features, Length: 1000000, dtype: object

In [56]:
count_nan = df["features"].isna().sum().sum()
empty_count = (df["features"] == "[]").sum()

In [57]:
count_nan + empty_count

931641

In [58]:
df["description"]

0         ['A\xa0con man (Giovanni Ribisi) on the run fr...
1         ['Follow the adventures of Arty and his sideki...
2                                                       NaN
3                                                       NaN
4                                                       NaN
                                ...
999995    ['Martin: The Complete Fourth Season (RPKG/DVD...
999996    ["Heeeey! Comic superstar Martin Lawrence (Bad...
999997                                                  NaN
999998                                                  NaN
999999                                                  NaN
Name: description, Length: 1000000, dtype: object

In [59]:
count_nan = df["description"].isna().sum().sum()
empty_count = (df["description"] == "[]").sum()

In [60]:
count_nan + empty_count

568100

due to the sheer amount of empty values, and the computational cost of adding this feature, to keep it light weight may be better to ignore this feature

In [61]:
df["price"]

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
          ...
999995    12.11
999996    17.49
999997      NaN
999998      NaN
999999      NaN
Name: price, Length: 1000000, dtype: object

In [65]:
count_nan = df["price"].isna().sum().sum()

In [66]:
count_nan

611251

In [64]:
df["images_y"]

0         [{'360w': 'https://images-na.ssl-images-amazon...
1         [{'360w': 'https://images-na.ssl-images-amazon...
2         [{'360w': 'https://images-na.ssl-images-amazon...
3         [{'360w': 'https://images-na.ssl-images-amazon...
4         [{'360w': 'https://images-na.ssl-images-amazon...
                                ...
999995    [{'thumb': 'https://m.media-amazon.com/images/...
999996    [{'thumb': 'https://m.media-amazon.com/images/...
999997    [{'360w': 'https://m.media-amazon.com/images/G...
999998    [{'360w': 'https://images-na.ssl-images-amazon...
999999    [{'360w': 'https://images-na.ssl-images-amazon...
Name: images_y, Length: 1000000, dtype: object

In [72]:
df["images_y"][0]

"[{'360w': 'https://images-na.ssl-images-amazon.com/images/S/pv-target-images/23aaac7be8d7e5295be3f88aedc3b7242ad895e44274583ccb5bbc6fed88f493._RI_SX360_FMwebp_.png', '480w': 'https://images-na.ssl-images-amazon.com/images/S/pv-target-images/23aaac7be8d7e5295be3f88aedc3b7242ad895e44274583ccb5bbc6fed88f493._RI_SX480_FMwebp_.png', '720w': 'https://images-na.ssl-images-amazon.com/images/S/pv-target-images/23aaac7be8d7e5295be3f88aedc3b7242ad895e44274583ccb5bbc6fed88f493._RI_SX720_FMwebp_.png', '1080w': 'https://images-na.ssl-images-amazon.com/images/S/pv-target-images/23aaac7be8d7e5295be3f88aedc3b7242ad895e44274583ccb5bbc6fed88f493._RI_SX1080_FMwebp_.png', '1440w': 'https://images-na.ssl-images-amazon.com/images/S/pv-target-images/23aaac7be8d7e5295be3f88aedc3b7242ad895e44274583ccb5bbc6fed88f493._RI_SX1440_FMwebp_.png', '1920w': 'https://images-na.ssl-images-amazon.com/images/S/pv-target-images/23aaac7be8d7e5295be3f88aedc3b7242ad895e44274583ccb5bbc6fed88f493._RI_SX1920_FMwebp_.png', 'variant': 'MAIN'}]"

In [67]:
count_nan = df["images_y"].isna().sum().sum()
empty_count = (df["images_y"] == "[]").sum()

In [68]:
count_nan + empty_count

25

In [69]:
df["videos"]

0         []
1         []
2         []
3         []
4         []
          ..
999995    []
999996    []
999997    []
999998    []
999999    []
Name: videos, Length: 1000000, dtype: object

In [70]:
count_nan = df["videos"].isna().sum().sum()
empty_count = (df["videos"] == "[]").sum()

In [71]:
count_nan + empty_count

912011

due to the sheer amount of empty values, and the computational cost of adding this feature, to keep it light weight may be better to ignore this feature

In [73]:
df["store"]

0                                                       NaN
1                                                       NaN
2                                                       NaN
3                                                       NaN
4                                                       NaN
                                ...
999995    Martin Lawrence  (Actor, Producer),     Thomas...
999996    Tisha Campbell  (Actor),     Tichina Arnold  (...
999997                                                  NaN
999998                                                  NaN
999999                                                  NaN
Name: store, Length: 1000000, dtype: object

In [74]:
df["categories"]

0                                     ['Suspense', 'Drama']
1                                                  ['Kids']
2                                                       NaN
3                                                       NaN
4                                                       NaN
                                ...
999995    ['Movies & TV', 'Featured Categories', 'DVD', ...
999996    ['Movies & TV', 'Featured Categories', 'DVD', ...
999997                                                  NaN
999998                                                  NaN
999999                                                  NaN
Name: categories, Length: 1000000, dtype: object

In [85]:
count_nan = df["categories"].isna().sum().sum()
empty_count = (df["categories"] == "[]").sum()

In [86]:
count_nan + empty_count

542624

In [75]:
df["details"]

0         {'Content advisory': ['Nudity', 'violence', 's...
1         {'Audio languages': ['English Dialogue Boost: ...
2         {'Content advisory': ['Violence', 'substance u...
3         {'Content advisory': ['Violence', 'alcohol use...
4         {'Subtitles': ['None available'], 'Directors':...
                                ...
999995    {'Genre': 'Comedy', 'Format': 'Color, Dolby, F...
999996    {'Genre': 'Comedy', 'Format': 'Color, Dolby, N...
999997    {'Content advisory': ['Violence', 'substance u...
999998    {'Content advisory': ['Violence', 'foul langua...
999999    {'Content advisory': ['Nudity', 'violence', 's...
Name: details, Length: 1000000, dtype: object

In [78]:
df["details"][0]

"{'Content advisory': ['Nudity', 'violence', 'substance use', 'alcohol use', 'smoking', 'foul language', 'sexual content'], 'Audio languages': ['English Dialogue Boost: High', 'English', 'English [Audio Description]', 'English Dialogue Boost: Medium', 'English Dialogue Boost: Low', 'Italiano', '日本語', 'Português', 'Deutsch', 'Español (España)', 'Español (Latinoamérica)', 'Polski', 'Français'], 'Subtitles': ['English [CC]', 'العربية', 'Čeština', 'Dansk', 'Deutsch', 'Ελληνικά', 'Español (Latinoamérica)', 'Español (España)', 'Suomi', 'Filipino', 'Français', 'עברית', 'हिन्दी', 'Magyar', 'Indonesia', 'Italiano', '日本語', '한국어', 'Bahasa Melayu', 'Norsk Bokmål', 'Nederlands', 'Polski', 'Português (Brasil)', 'Português (Portugal)', 'Română', 'Русский', 'Svenska', 'தமிழ்', 'తెలుగు', 'ไทย', 'Türkçe', 'Українська', 'Tiếng Việt', '中文（简体）', '中文（繁體）'], 'Directors': ['Rosemary Rodriguez', 'Sarah Pia Anderson', 'Seth Gordon', 'Laura Innes', 'Craig Zisk', 'Michael Pressman', 'Adam Arkin'], 'Producers': ['James Degus', 'Margo Myers Massey'], 'Starring': ['Marin Ireland', 'Shane Mcrae', 'Giovanni Ribisi']}"

While this is definitely great information and could provide valuable insights in a model that has the capacity to be heavily trained and delivered as a full model, that would make it much more computational expensive and complicated. Due to that fact, this may not make it into the final model performance range. The cost of opening a json object and manipulating the data to see the tags would be costly and if results are tolerable may not be needed for this use case.

In [76]:
df["bought_together"]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
999995   NaN
999996   NaN
999997   NaN
999998   NaN
999999   NaN
Name: bought_together, Length: 1000000, dtype: float64

In [83]:
count_nan = df["bought_together"].isna().sum().sum()

In [84]:
count_nan

1000000

In [77]:
df["author"]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
999995    NaN
999996    NaN
999997    NaN
999998    NaN
999999    NaN
Name: author, Length: 1000000, dtype: object

In [81]:
count_nan = df["author"].isna().sum().sum()

In [82]:
count_nan

999882

# 3. Features that will not make the cut

As the exploration of the data types of each feature above showed, there will be some features that simply do not make the cut for what will go into the final model. This could be for a few reasons. Some may add complexity for a very small set of data. This is bad due high risk for low reward in trying to keep a simple, containable model. Others may just have to much missing data in the column to really include it. Some that are easy to tell:

In [111]:
to_export_df = df.copy()

to_export_df.drop(columns='author', inplace=True)
to_export_df.drop(columns='bought_together', inplace=True)
to_export_df.drop(columns='store', inplace=True)
to_export_df.drop(columns='videos', inplace=True)
to_export_df.drop(columns='images_x', inplace=True)
to_export_df.drop(columns='price', inplace=True)
to_export_df.drop(columns='description', inplace=True)
to_export_df.drop(columns='features', inplace=True)
to_export_df.drop(columns='timestamp', inplace=True)
to_export_df.drop(columns='user_id', inplace=True)
to_export_df.drop(columns='asin', inplace=True)
to_export_df.drop(columns='parent_asin', inplace=True)
to_export_df.drop(columns='Unnamed: 0', inplace=True)

In [95]:
to_export_df

,rating,review_title,text,helpful_vote,verified_purchase,main_category,movie_title,subtitle,average_rating,rating_number,images_y,categories,details
0,5.0,Five Stars,"Amazon, please buy the show! I'm hooked!",0,True,Prime Video,Sneaky Pete,Ads BadgeAds Badge,4.6,56658.0,[{'360w': 'https://images-na.ssl-images-amazon...,"['Suspense', 'Drama']","{'Content advisory': ['Nudity', 'violence', 's..."
1,5.0,Five Stars,My Kiddos LOVE this show!!,0,True,Prime Video,Creative Galaxy,Season 1,4.8,6403.0,[{'360w': 'https://images-na.ssl-images-amazon...,['Kids'],{'Audio languages': ['English Dialogue Boost: ...
2,3.0,Some decent moments...but...,Annabella Sciorra did her character justice wi...,0,True,Prime Video,NaN,NaN,3.9,182.0,[{'360w': 'https://images-na.ssl-images-amazon...,NaN,"{'Content advisory': ['Violence', 'substance u..."
3,4.0,"Decent Depiction of Lower-Functioning Autism, ...",...there should be more of a range of characte...,1,False,Prime Video,NaN,NaN,4.8,533.0,[{'360w': 'https://images-na.ssl-images-amazon...,NaN,"{'Content advisory': ['Violence', 'alcohol use..."
4,5.0,What Love Is...,"...isn't always how you expect it to be, but w...",0,True,Prime Video,NaN,NaN,4.5,389.0,[{'360w': 'https://images-na.ssl-images-amazon...,NaN,"{'Subtitles': ['None available'], 'Directors':..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,5.0,Five Stars,You can't go wrong with Martin.,0,True,Movies & TV,Martin: Season 4,NaN,4.8,617.0,[{'thumb': 'https://m.media-amazon.com/images/...,"['Movies & TV', 'Featured Categories', 'DVD', ...","{'Genre': 'Comedy', 'Format': 'Color, Dolby, F..."
999996,5.0,Five Stars,You can't go wrong with Martin.,0,True,Movies & TV,Martin: Season 3,NaN,4.9,1424.0,[{'thumb': 'https://m.media-amazon.com/images/...,"['Movies & TV', 'Featured Categories', 'DVD', ...","{'Genre': 'Comedy', 'Format': 'Color, Dolby, N..."
999997,4.0,Predictable ending but good action,Good pace of action and good characters. Plot...,1,True,Prime Video,NaN,NaN,4.2,424.0,[{'360w': 'https://m.media-amazon.com/images/G...,NaN,"{'Content advisory': ['Violence', 'substance u..."
999998,4.0,pretty decent ww2 flick,i watched th whole thing so that is one criter...,1,True,Prime Video,NaN,NaN,3.1,626.0,[{'360w': 'https://images-na.ssl-images-amazon...,NaN,"{'Content advisory': ['Violence', 'foul langua..."
999999,1.0,weak. very weak,this starts out somewhat interesting but fades...,6,True,Prime Video,NaN,NaN,4.5,30161.0,[{'360w': 'https://images-na.ssl-images-amazon...,NaN,"{'Content advisory': ['Nudity', 'violence', 's..."

This is definitely more digestable for use in a model, but there are a few that still may be questionable depending on performance. A couple, like details, images_y, and categories are possibly useful for a model with infite time, capacity, and compute, to give better answers. They do add complexity though. In a smaller model without those infinite resources these are quite possibly the first to go. Images starts adding image processing into the mix from a link, categories starts adding the tagging features, which is actually quite useful but is a whole other category of encoding/decoding that would need to happen per item (possibly just trying  to figure out what items have similar categories). Finally details incoporates a json object for every row. In a smaller dataset this would not be to bad, but including it in this 1000000 size dataset, breaking down the json object that is not the quite the same for every row, and deciding how to handle that, should be avoided unless resources such as time, compute, and limitations are dealt with. Or the model is not performing adequately.

Additionally, title and subtitle may want to be avoided as well. The reason being is that if a title has had a surge of negative or positive review that the model was trained on, that would mean that there would be a massive potential skew in the model categorizing those surged titles in the direction of that surge regardless of the actual description.

In [112]:
to_export_df.drop(columns='movie_title', inplace=True)
to_export_df.drop(columns='subtitle', inplace=True)
to_export_df.drop(columns='images_y', inplace=True)
to_export_df.drop(columns='details', inplace=True)
to_export_df.drop(columns='categories', inplace=True)

In [97]:
to_export_df

,rating,review_title,text,helpful_vote,verified_purchase,main_category,average_rating,rating_number
0,5.0,Five Stars,"Amazon, please buy the show! I'm hooked!",0,True,Prime Video,4.6,56658.0
1,5.0,Five Stars,My Kiddos LOVE this show!!,0,True,Prime Video,4.8,6403.0
2,3.0,Some decent moments...but...,Annabella Sciorra did her character justice wi...,0,True,Prime Video,3.9,182.0
3,4.0,"Decent Depiction of Lower-Functioning Autism, ...",...there should be more of a range of characte...,1,False,Prime Video,4.8,533.0
4,5.0,What Love Is...,"...isn't always how you expect it to be, but w...",0,True,Prime Video,4.5,389.0
...,...,...,...,...,...,...,...,...
999995,5.0,Five Stars,You can't go wrong with Martin.,0,True,Movies & TV,4.8,617.0
999996,5.0,Five Stars,You can't go wrong with Martin.,0,True,Movies & TV,4.9,1424.0
999997,4.0,Predictable ending but good action,Good pace of action and good characters. Plot...,1,True,Prime Video,4.2,424.0
999998,4.0,pretty decent ww2 flick,i watched th whole thing so that is one criter...,1,True,Prime Video,3.1,626.0
999999,1.0,weak. very weak,this starts out somewhat interesting but fades...,6,True,Prime Video,4.5,30161.0

Finally, for the sanctity of the data, I think that all reviews that the verified_purchase being false should be dropped. That is because while there is a chance that someone who bought a purchase from another vender is leaving a valid review, the most likely reviewers that have not purchased the item would be there without helpful reviews that could potentially skew results

In [113]:
to_export_df = to_export_df.set_index('verified_purchase')

# check if there are any rows with False values in the "verified_purchase" column
if False in to_export_df.index:
    to_export_df = to_export_df.drop(False)

to_export_df = to_export_df.reset_index(drop=True)

In [116]:
to_export_df

,rating,review_title,text,helpful_vote,main_category,average_rating,rating_number
0,5.0,Five Stars,"Amazon, please buy the show! I'm hooked!",0,Prime Video,4.6,56658.0
1,5.0,Five Stars,My Kiddos LOVE this show!!,0,Prime Video,4.8,6403.0
2,3.0,Some decent moments...but...,Annabella Sciorra did her character justice wi...,0,Prime Video,3.9,182.0
3,5.0,What Love Is...,"...isn't always how you expect it to be, but w...",0,Prime Video,4.5,389.0
4,5.0,QUIRKY TURNS TO HEARTSTRINGS,As you learn about the very unique characters ...,0,Prime Video,4.8,1966.0
...,...,...,...,...,...,...,...
809802,5.0,Five Stars,You can't go wrong with Martin.,0,Movies & TV,4.8,617.0
809803,5.0,Five Stars,You can't go wrong with Martin.,0,Movies & TV,4.9,1424.0
809804,4.0,Predictable ending but good action,Good pace of action and good characters. Plot...,1,Prime Video,4.2,424.0
809805,4.0,pretty decent ww2 flick,i watched th whole thing so that is one criter...,1,Prime Video,3.1,626.0
809806,1.0,weak. very weak,this starts out somewhat interesting but fades...,6,Prime Video,4.5,30161.0

In [134]:
!pip upgrade

ERROR: unknown command "upgrade"

In [133]:
from model import Movie_Review_Model

ImportError: cannot import name '_fit_context' from 'sklearn.base' (/usr/local/lib/python3.10/dist-packages/sklearn/base.py)

In [2]:
model = Movie_Review_Model("output.csv")

In [3]:
model.initiate_etl()

(      000   10  100   11   12   13   14   15   16   17  ...  wrong  wwii  \
 0     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0
 1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0
 2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0
 3     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0
 4     0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0
 ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...   ...
 9995  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0
 9996  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0
 9997  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0
 9998  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0
 9999  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...    0.0   0.0

       yeah  year  yes  yoga  york  you    young  zombie
 0      0.0   0.0  0.0   0.0   0.0  0.0  0.00000     0.0
 1      0.0   0.0  0.0   0.0   0.0  0.0  0.00000     0.0
 2      0.0   0.0  0.0   0.0   0.0  0.0  0.00000     0.0
 3      0.0   0.0  0.0   0.0   0.0  0.0  0.00000     0.0
 4      0.0   0.0  0.0   0.0   0.0  0.0  0.00000     0.0
 ...    ...   ...  ...   ...   ...  ...      ...     ...
 9995   0.0   0.0  0.0   0.0   0.0  0.0  0.12054     0.0
 9996   0.0   0.0  0.0   0.0   0.0  0.0  0.00000     0.0
 9997   0.0   0.0  0.0   0.0   0.0  0.0  0.00000     0.0
 9998   0.0   0.0  0.0   0.0   0.0  0.0  0.00000     0.0
 9999   0.0   0.0  0.0   0.0   0.0  0.0  0.00000     0.0

 [10000 rows x 1615 columns],
 0       5.0
 1       5.0
 2       5.0
 3       5.0
 4       5.0
        ...
 9995    5.0
 9996    5.0
 9997    5.0
 9998    5.0
 9999    5.0
 Name: rating, Length: 10000, dtype: float64)

In [4]:
model.train()

In [5]:
import pickle

# save the model to a file
with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)

# load the model from the file
with open('model.pkl', 'rb') as f:
    loaded_model = pickle.load(f)

In [6]:
loaded_model.etl.data

,000,10,100,11,12,13,14,15,16,17,...,wrong,wwii,yeah,year,yes,yoga,york,you,young,zombie
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.12054,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0

In [5]:
from pandas import json_normalize
import pandas as pd
import json

In [11]:
import pandas as pd

# Read the JSON file into a dictionary
with open('test.json') as f:
    data = json.load(f)

# Convert the dictionary into a DataFrame with an index
df = pd.DataFrame.from_dict(data, orient='index')

# Print the DataFrame
print(df)

                                                                   0
Unnamed: 0                                                         3
review_title                                        2703186189652090
text               This movie was alright, would not not recommen...
images_x                                             sampleimage.com
asin                                                          123214
parent_asin                                                 asdf2123
user_id                                                        Tyler
timestamp                                                     123124
helpful_vote                                                      10
verified_purchase                                               True
main_category                                             a category
movie_title                                            Kung Fu Panda
subtitle                                              The best movie
average_rating
rating_number
features                                          {type: good movie}
description                                            Big fat panda
price                                                            5.0
images_y                            0b242abb623afc578575680df30655b9
videos
store                                                    Prime Video
categories
details
bought_together                                                   na
author                                                    Jack Black

In [12]:
data = json_normalize(data)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1 non-null      int64
 1   review_title       1 non-null      int64
 2   text               1 non-null      object
 3   images_x           1 non-null      object
 4   asin               1 non-null      object
 5   parent_asin        1 non-null      object
 6   user_id            1 non-null      object
 7   timestamp          1 non-null      int64
 8   helpful_vote       1 non-null      int64
 9   verified_purchase  1 non-null      object
 10  main_category      1 non-null      object
 11  movie_title        1 non-null      object
 12  subtitle           1 non-null      object
 13  average_rating     1 non-null      object
 14  rating_number      1 non-null      object
 15  features           1 non-null      object
 16  description        1 non-null      object
 17  price              1 non-null      float64
 18  images_y           1 non-null      object
 19  videos             1 non-null      object
 20  store              1 non-null      object
 21  categories         1 non-null      object
 22  details            1 non-null      object
 23  bought_together    1 non-null      object
 24  author             1 non-null      object
dtypes: float64(1), int64(4), object(20)
memory usage: 328.0+ bytes

In [14]:
prediction = model.json_predict(data)

KeyError: 'rating'